body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00b7ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}
#root{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -33;
}
.cont{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.cont::before{
  position: absolute;
  content: "";
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: blue;
  z-index: -22;
  top: 50px;
  left: 450px; 
}
.cont::after{
  position: absolute;
  content: "";
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: rgb(239, 255, 10);
  z-index: -12;
  top: 500px;
  left: 100px; 
}
.heading{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba( 255, 255, 255, 0.10 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 5px 25px 5px 25px;
}
h2{
  letter-spacing: 2px;
  font-family: century gothic;
  font-size: 32px;
  color: blue;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}
.mainApp{
  position: relative;
  height: 70%;
  width: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow:  0px 0px 4px white, 0px 0px 5px white;
  grid-template-columns: 100% ;
  grid-template-rows: 20% 1fr;
  grid-template-areas: "search" "searchResult";
  border-radius: 12px ;
   /* glassMoriphasm code */
   background: rgba( 255, 255, 255, 0.10 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
z-index: 99;
}

.serchBar{
  height: 100%;
  width: 100%;
  grid-area:search ;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  height: 30%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
input{
  height: 100%;
  width: 100%;
  border-radius: 12px;
  outline: none;
  border: none;
  /* border: 2px solid white; */
  padding: 5px 22px 5px 22px;
  font-weight: 400;
  font-size: 18px;
  font-family: century gothic;
  letter-spacing: 1px;
  text-transform: capitalize;
  background: transparent;
  text-align: center;
  color: #fff;
  box-shadow: 0px 0px 4px white, 0px 0px 5px white;
}
.SearchResultImage{
  height: 100%;
  grid-area:searchResult ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
  height: 85%;
  width: 80%;
  border-radius: 12px;
  box-shadow: 0px 0px 4px white, 0px 0px 5px white;
  /* box-shadow: 0px 0px 8px rgba(0,0,0,0.12), 0px 0px 10px rgba(0,0,0,0.14) ; */
}
img{
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
@media screen and (min-width:1000px){
  .mainApp{
    grid-template-rows: 30% 1fr;
  }
  .cont::after{
    top: 480px;
    left: 300px;
  }
  .cont::before{
    top: 40px;
    left: 1020px;
  }
}
@media screen and (max-width:500px){
  .mainApp{
    width: 70%;
  }
  form{
    width: 82%;
  }
  .image{
    height: 85%;
    width: 82%;
  }
  .cont::after{
    top: 450px;
    left: 10px;
  }
  .cont::before{
    top: 50px;
    left: 200px;
  }
  .heading{
    width: 100%;
  }
  h2{
    font-size: 22px;
   
  }
}