@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Open+Sans+Condensed:wght@300&display=swap");
:root {
  --mainColor: blue;
}
* {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  /* font-family: "DotGothic16", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}
.mainApp {
  min-height: 100vh; /*to stick footer to bootm and to get minHeight and if content is higher the 100vh it will expand*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* naverBar styling */
.navbar {
  /* position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; */

  /* position: relative; */
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.leftLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
  margin-top: 0.2%;
}
h1 {
  font-weight: bold;
  white-space: nowrap;
  font-size: 32px;
}
.rightNavElements {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}
.toggleButton {
  display: none;
  position: absolute;
  margin-top: auto;
  right: 5%;
}
.toggleButton :is(.line1, .line2, .line3) {
  width: 30px;
  height: 7px;
  margin: 2px;
  background: black;
  border-radius: 10px;
  transition: 1s ease;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /*
    justify-content: center;
    align-items: center; */
}
li {
  list-style-type: none;
  padding: 10px 25px;
  margin: 0px 5px;
}
.aTag {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 0px 4px 0px;
  letter-spacing: 2px;
}
.activeClass {
  border-bottom: 4px solid black;
}

/* bodyPage styling */

.page {
  min-height: 70vh;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "leftDetails rightLogo";
}
/* working on left Details */
.leftDetails {
  grid-area: leftDetails;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0;
}
.leftDetails :is(p) {
  margin: 0;
  font-weight: normal;
}
.moto,
.companyName {
  font-size: 32px;
}
.companyName {
  color: blue;
}
.aboutCompany {
  margin: 25px 0px 25px 0px;
}

.getStarted > button {
  background: transparent;
  padding: 10px 22px;
  outline: none;
  border: 1px solid blue;
  border-radius: 15px;
  color: blue;
  letter-spacing: 1px;
  cursor: pointer;
}
.rightLogo {
  grid-area: rightLogo;
  animation: topBottom 1s linear infinite;
  transform: translateY(50px);
}

/* styling the contect us page  */
::placeholder {
  padding: 0px 0px 0px 10px;
}
.contectUs {
  min-height: 70vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.formWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading p {
  color: black;
  margin: 0;
  font-size: 32px;
  font-weight: lighter;
  letter-spacing: 2px;
}
.name,
.phone,
.email,
.message {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px;
}
.submit {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0px 0px 0px;
  padding: 8px;
  justify-content: center;
  align-items: center;
}
.submitbtn {
  height: 6vh;
  width: 12vw;
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid blue;
  border-radius: 8px;
  color: blue;
  letter-spacing: 4px;
  cursor: pointer;
}
.name input,
.phone input,
.email input {
  height: 5vh;
  outline: none;
  border: 1px solid black;
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 0px 0px 0px 10px;
}
.message textarea {
  height: 10vh;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: s 0px 0px 2px 2px rgba(0, 0, 0, 0.12);
  padding: 5px 0px 0px 10px;
}
.lableTag {
  margin: 5px 0px 5px 0px;
  font-size: 16px;
}
/* Footer styling */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 8px 0px;
  margin-top: auto;
}
.folloeMeLogos {
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.folloeMeLogos :hover a {
  color: blue;
}
.folloeMeLogos a {
  color: black;
  transition: 0.5s ease-in;
}
.folloeMeLogos a {
  height: 5vh;
}
.copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
.copyRight > p {
  margin: 0;
}
/* Error Page */
.errorPage {
  position: relative;
  height: 50%;
  width: 50%;
}
.errorPageBtn {
  position: absolute;
  bottom: -15%;
  left: 39%;
  background: transparent;
  padding: 10px 22px;
  outline: none;
  border: 1px solid blue;
  border-radius: 15px;
  color: blue;
  letter-spacing: 1px;
  cursor: pointer;
}
/* PROFILE CARDS */

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 10px 20px;
}
.cardsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 20px;
  margin-bottom: 10%;
}
.card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.34);
  /* position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.teamMembers {
  font-size: 32px;
  margin: 25px 0px 25px 0px;
}
.card :is(h1, p) {
  margin: 0;
  padding: 0;
}
.card img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.empDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empSocialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
}
.btnDiv {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
}
.btnDiv > button {
  /* color: black;
  border: 1px solid black; */
  color: white;
  border: 1px solid white;
  background: transparent;
  padding: 10px 22px;
  outline: none;
  border-radius: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}
.card > button:hover,
a:hover {
  opacity: 0.7;
}

/* Services page styling start */

.services {
  min-height: 70vh;
  width: 80%;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.servicesWrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2em 1em;
}
.servicesWrapper :is(.service_title, .service_number) {
  margin: 0;
  padding: 0;
  letter-spacing: 4px;
  word-spacing: 2px;
}
.servicesWrapper > * {
  flex: 1 1 250px;
  height: 35vh;
  min-width: 250px;
  max-width: 370px;
}
.serviceImg {
  height: 25vh;
  background: linear-gradient(gray, white);
}
.serviceNumber_lower {
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: White;
}
.serviceTitle_top {
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  color: White;
  width: 100%;
  background-color: black;
}
.service {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 12px 6px rgb(0 0 0 / 34%);
}
.service:hover .hoverCard {
  transform: translateX(0%);
}
.hoverCard {
  all: unset;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  background: white;
  top: 0;
  left: 0;
  transition: 1s ease-in;
  border-radius: 5px;
  letter-spacing: 4px;
  padding: 5px;
}
.hoverCard p {
  font-size: 12px;
  padding: 2px 5px 2px 5px;
}
.underCons {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  body :is(h1) {
    font-size: 22px;
  }
  li {
    padding: 0px 2px;
  }
  .aTag {
    font-size: 15px;
    padding: 0px 0px 3px 0px;
  }
  .moto,
  .companyName {
    font-size: 22px;
  }
  .aboutCompany {
    margin: 15px 0px 15px 0px;
  }
  /* contect us  */
  .formWrapper {
    width: 90%;
  }
  .heading p {
    font-size: 22px;
  }
  .lableTag {
    font-size: 12px;
  }
  /* Error Page */
  .errorPage {
    height: 70%;
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  body :is(h1) {
    font-size: 20px;
  }
  li {
    padding: 0px 2px;
  }
  .aTag {
    font-size: 20px;
    padding: 0px 0px 2px 0px;
  }
  .page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "leftDetails" "rightLogo";
  }
  .moto,
  .companyName {
    font-size: 22px;
  }
  .leftDetails {
    align-items: center;
  }
  .aboutCompany {
    margin: 15px 0px 15px 0px;
  }
  .rightLogo {
    transform: translateY(0px);
  }
  /* contect us */
  .heading {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .name,
  .phone,
  .email,
  .message,
  .submit {
    width: 80%;
  }
  .submit {
    align-items: center;
  }
  .submitbtn {
    width: 25vw;
    font-size: 12px;
  }
  ::placeholder {
    font-size: 11px;
  }
  /* Error Page */
  .errorPage {
    position: relative;
    height: 70%;
    width: 90%;
    margin-top: 30%;
  }
  .errorPageBtn {
    margin-bottom: -12%;
    margin-left: -10%;
  }
  .team {
    width: 80%;
  }
  .card {
    width: 80%;
    margin: 10px 0px 20px 10px;
  }
  .card img {
    width: 100%;
  }
  .footer {
    padding: 0px 0px 8px 0px;
  }
  .empName > h1 {
    font-size: 25px;
  }
  .servicesWrapper {
    gap: 1em;
  }
  .teamMembers {
    font-size: 22px;
    font-weight: lighter;
    white-space: nowrap;
  }
  .services {
    margin-bottom: 30px;
  }
  /* NAVBAR BURGER */
  .navbar {
    display: block;
    background: lightgray;
  }
  .rightNavElements {
    display: none;
  }
  ul {
    width: 100vw;
    display: block;
  }
  li {
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftLogo {
    margin-left: 2%;
  }
  .toggleButton {
    position: absolute;
    display: inline;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 600px) {
  .rightNavElements {
    display: block;
  }
}
