body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.HomePage,.ContectPage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:linear-gradient(33deg,lightgreen,lightgray);
  color: white;
  letter-spacing: 2px;
  text-shadow: -4px 4px 2px rgba(128, 128, 128, 0.616),4px -4px 2px rgba(128, 128, 128, 0.616);
  text-transform: uppercase;
}
.ContectPage{
  background:linear-gradient(33deg,rgb(143, 211, 234),rgb(255, 198, 93));
  
}
.TopicDetails{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 40%;
  flex-direction: column;
}
span{
  color: blue;
  font-size: 15px;
  font-weight: bold;
}
h3{
  position: relative;
  color: green;
}
h3::after{
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  height: 15%;
  width: 100%;
  background: green;
}
.heading{
  color: blue;
  font-size: 16px;
  font-weight: bold;
}